.theme-default {
    --tan-700: #7d5f4a;
    --tan-500: #c8ac92ff;
    --tan-200: #fdf6ed;
    --tan-a500: #fbddb6;
    --green-500: #5a8a4eff;
    --red-500: #d26565ff;
    --blackish-700: #383838;
    --blackish-500: #686868;
    --blackish-200: #c4c4c4;
    --blackish-100: #e7e7e7;
    --blackish-50: #f7f7f7;
    --blackish-a200: #6d8c98;

    --clr-bg-color: var(--tan-200);
    --clr-bg-color-alt: var(--tan-a500);
    --clr-bg-no-color: white;
    
    --clr-trim-color: var(--tan-700);
    
    --clr-fg-color: var(--tan-700);
    --clr-fg-no-color: var(--blackish-500);
    --clr-fg-no-color-bold: var(--blackish-700);
    --clr-fg-no-color-subtle: var(--blackish-a200);
    --clr-fg-no-color-alt: white;

    --clr-border-no-color: var(--blackish-100);
    
    --clr-control-color: var(--green-500);
    --clr-control-no-color: var(--blackish-200);

    --clr-input-stroke: var(--blackish-500);
    --clr-input-border: var(--blackish-100);
    --clr-input-bg: var(--blackish-50);

    --clr-good-strong: var(--green-500);

    --clr-bad-strong: var(--red-500);
}