@import url("imports.css");

* {
    margin: 0;
    box-sizing: border-box;
}

.theme-default {
    --tan-700: #7d5f4a;
    --tan-500: #c8ac92ff;
    --tan-200: #fdf6ed;
    --tan-a500: #fbddb6;
    --green-500: #5a8a4eff;
    --red-500: #d26565ff;
    --blackish-700: #383838;
    --blackish-500: #686868;
    --blackish-200: #c4c4c4;
    --blackish-100: #e7e7e7;
    --blackish-50: #f7f7f7;
    --blackish-a200: #6d8c98;

    --clr-bg-color: var(--tan-200);
    --clr-bg-color-alt: var(--tan-a500);
    --clr-bg-no-color: white;
    --clr-bg-no-color-subtle: var(--blackish-100);
    
    --clr-trim-color: var(--tan-700);
    
    --clr-fg-color: var(--tan-700);
    --clr-fg-no-color: var(--blackish-500);
    --clr-fg-no-color-bold: var(--blackish-700);
    --clr-fg-no-color-subtle: var(--blackish-a200);
    --clr-fg-no-color-alt: white;
    
    --clr-control-color: var(--green-500);
    --clr-control-no-color: var(--blackish-200);

    --clr-input-stroke: var(--blackish-500);
    --clr-input-border: var(--blackish-100);
    --clr-input-bg: var(--blackish-50);

    --clr-good-strong: var(--green-500);

    --clr-bad-strong: var(--red-500);
}

.app {
    color: var(--clr-fg-no-color-bold);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-margins--var {
    --page-side-margin: 110px;
}

.page-margins__apply {
    margin-left: var(--page-side-margin);
    margin-right: var(--page-side-margin);
}

/********* Headers *********/

.header1 {
    font-size: 2em;
}

/********* Input *********/

.input {
    padding: 1em;
    border: 1px solid var(--clr-input-border);
    color: var(--clr-input-stroke);
    caret-color: var(--clr-input-stroke);
    background-color: var(--clr-input-bg);
}

.input--valid {
    border: 1px solid var(--clr-good-strong);
    color: var(--clr-good-strong);
    caret-color: var(--clr-good-strong);
}

.input--invalid,
.input.invalid {
    border: 1px solid var(--clr-bad-strong);
    color: var(--clr-bad-strong);
    caret-color: var(--clr-bad-strong);
}

.input--password {
    padding: 0;
    border: none;
    position: relative;
}

.input--password .input {
    width: 100%;
}

.input__visibiliy-toggle {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    right: 8px;
    top: 8px;
}

/********* Button *********/

.button {
    padding: 1em;
    font-size: 1.2em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button--disabled {
    background-color: var(--clr-control-no-color);
    color: var(--clr-fg-no-color);
    cursor: default;
}

.button--encourage {
    background-color: var(--clr-control-color);
    color: var(--clr-fg-no-color-alt);
    cursor: pointer;
}

.icon-button {
    --button-bg-default: none;
    --button-bg-hover: var(--clr-control-no-color);

    background-color: var(--button-bg-default);
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
}

.material-icons.icon-button {
    font-size: 18px;
    height: 1.4em;
    width: 1.4em;
}

.icon-button:hover,
.icon-button:focus {
    background-color: var(--button-bg-hover);
    border: none;
}

/********* Errors/Warnings *********/
.error-text,
.invalid,
.validation-message {
    color: var(--clr-bad-strong);
}

/********* Forms *********/
.form-input {
    width: 100%;
    display: block;
    margin-top: 1em;
}