@import url("imports.css");

* {
    margin: 0;
    box-sizing: border-box;
}

.standard-padding {
    padding: 4em 10% 2em 10%
}

.theme-default {
    --tan-700: #7d5f4a;
    --tan-500: #c8ac92ff;
    --tan-200: #fdf6ed;
    --tan-a500: #fbddb6;
    --green-500: #5a8a4eff;
    --green-a700: #2fc215;
    --red-500: #d26565ff;
    --red-900: #9b1616;
    --blackish-700: #383838;
    --blackish-600: #898f9c;
    --blackish-500: #686868;
    --blackish-300: #969696;
    --blackish-200: #c4c4c4;
    /* --blackish-175: #e1e1e1; */
    --blackish-100: #e7e7e7;
    /* --blackish-150: #efefef; */
    --blackish-50: #f7f7f7;
    --blackish-a200: #6d8c98;

    --clr-bg-color: var(--tan-200);
    --clr-bg-color-alt: var(--tan-a500);
    --clr-bg-no-color: white;
    --clr-bg-no-color-subtle: var(--blackish-100);
    
    --clr-trim-color: var(--tan-700);
    
    --clr-fg-color: var(--tan-700);
    --clr-fg-color-good: var(--green-a700);
    --clr-fg-color-bad: var(--red-900);
    --clr-fg-color-caution: var(--yellow-500);
    --clr-fg-no-color: var(--blackish-500);
    --clr-fg-no-color-2: var(--blackish-600);
    --clr-fg-no-color-bold: var(--blackish-700);
    --clr-fg-no-color-subtle: var(--blackish-a200);
    --clr-fg-no-color-subtle-2: var(--blackish-300);
    --clr-fg-no-color-alt: white;

    --clr-brdr-no-color: var(--blackish-200);
    --clr-brdr-no-color-subtle: var(--blackish-100);
    
    --clr-control-color: var(--green-500);
    --clr-control-no-color: var(--blackish-200);

    --clr-input-stroke: var(--blackish-500);
    --clr-input-border: var(--blackish-100);
    --clr-input-bg: var(--blackish-50);

    --clr-good-strong: var(--green-500);

    --clr-bad-strong: var(--red-500);
}

.app {
    color: var(--clr-fg-no-color-bold);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-error-action {
    margin-top: 1em;
}

.page-margins--var {
    --page-side-margin: 110px;
}

.page-margins__apply {
    margin-left: var(--page-side-margin);
    margin-right: var(--page-side-margin);
}

/********* Headers *********/

.header1 {
    font-size: 2em;
}

/********* Input *********/

.input {
    padding: 1em;
    border: 1px solid var(--clr-input-border);
    color: var(--clr-input-stroke);
    caret-color: var(--clr-input-stroke);
    background-color: var(--clr-input-bg);
}

.input--valid {
    border: 1px solid var(--clr-good-strong);
    color: var(--clr-good-strong);
    caret-color: var(--clr-good-strong);
}

.input--invalid,
.input.invalid {
    border: 1px solid var(--clr-bad-strong);
    color: var(--clr-bad-strong);
    caret-color: var(--clr-bad-strong);
}

.input--password {
    padding: 0;
    border: none;
    position: relative;
}

.input--password .input {
    width: 100%;
}

.input__visibiliy-toggle {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    right: 8px;
    top: 8px;
}

/********* Button *********/

.button {
    text-decoration: unset;
    font-size: 1.2em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--clr-fg-no-color);
    
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 16em;
    
    display: inline-block;
    
    background-color: var(--clr-bg-no-color-subtle);
}

.button:hover {
    background-color: var(--clr-control-no-color);
}

.button--narrow {
    min-width: unset;
}

.button--disabled {
    background-color: var(--clr-control-no-color);
    color: var(--clr-fg-no-color);
    cursor: default;
}

.button--encourage {
    background-color: var(--clr-good-strong);
    color: var(--clr-fg-no-color-alt);
    cursor: pointer;
}

.button--discourage {
    background-color: var(--clr-bad-strong);
    color: var(--clr-fg-no-color-alt);
    cursor: pointer;
}

/*
.material-icons {
    Filler css rule for documentation...
    For icon options, https://fonts.google.com/icons?selected=Material+Icons
}

.material-icons-outlined {
    Filler css rule for documentation...
    For icon options, https://fonts.google.com/icons?selected=Material+Icons
}
*/

.icon-button {
    --button-bg-default: none;
    --button-bg-hover: var(--clr-control-no-color);
    --button-size: 1.4em;

    background-color: var(--button-bg-default);
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
}

.material-icons.icon-button,
.material-icons-outlined.icon-button {
    font-size: 18px;
    height: var(--button-size);
    width: var(--button-size);
}

.icon-button:hover,
.icon-button:focus {
    background-color: var(--button-bg-hover);
    border: none;
}

/********* Errors/Warnings *********/
.error-text,
.invalid,
.validation-message {
    color: var(--clr-bad-strong);
}

/********* Forms *********/
.form-input {
    width: 100%;
    display: block;
    margin-top: 1em;
}

.form-field-group {
    display: inline-block;
}

.form-field-group__label {
    display: block;
}

.form-action-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-action-group--align-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form-action-group > .form-action {
    margin-left: 1rem;
}

.form-action-group > .form-action:first-of-type {
    margin-left: 0;
}