.stat__box {
  background-color: var(--clr-bg-no-color-subtle);
  padding: 1em;
}

.stat__box--row {
  display: flex;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2em;
}

.stat__box--row .stat {
  margin-left: 1.5em;
}

.stat__value {
  color: var(--clr-fg-no-color-subtle);
  margin-top: 0.1em;
}

.stat__value--good {
  color: var(--clr-fg-color-good);
}

.stat__value--bad {
  color: var(--clr-fg-color-bad);
}