/* A box surrounding a group of statistics */
.stat__box {
  background-color: var(--clr-bg-no-color-subtle);
  padding: 1em;
}

.stat__box--row {
  display: flex;
}

/* A single stat label and value display */
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5em;
}

.stat__box--row .stat {
  margin-left: 1.5em;
}

.stat__label {
  text-transform: uppercase;
  color: var(--clr-fg-no-color-2);
  font-size: 0.6em;
  font-weight: bold;
}

.stat__label--prominent {
  text-transform: none;
  font-size: inherit;
  color: var(--clr-fg-no-color-bold);
  font-weight: initial;
}

.stat__value {
  color: var(--clr-fg-no-color-subtle);
  margin-top: 0.1em;
}

.stat__value--good {
  color: var(--clr-fg-color-good);
}

.stat__value--caution {
  color: var(--clr-fg-color-caution);
}

.stat__value--bad {
  color: var(--clr-fg-color-bad);
}