@page "/budget-planner"
@using BudgetSquirrel.Frontend.Shared.Controls

<div class="_budget-planner-page page-margins__apply">

  @if(this.isLoading)
  {
    <p>Loading...</p>
  }
  else
  {
    <h1 class="_root-budget-title">
      My Budget
      <span class="foreground-default--subtle subtle-detail">@this.timeboxDisplay</span>
    </h1>

    <div class="stat__box _root-budget-stats">
      <div class="stat">
        <span class="stat__label">Planned Income</span>
        <span class="stat__value">@this.PlannedIncome</span>
        <EditableText
          Value="@this.PlannedIncome"
          OnChange="@this.ChangePlannedIncome"
          Placeholder="(ex. 3000.00)"
          Type="number" />
      </div>
    </div>
  }
</div>