._budget-planner-page ._root-budget-title {
  display: inline-flex;
}

._budget-planner-page ._root-budget-title__container {
  margin-top: 2rem;
}

._budget-planner-page ._root-budget-stats {
  margin-top: 2rem;
}

._budget-planner-page ._page-actions,
._budget-planner-page ._budget-section,
._budget-planner-page ._budget-container {
  margin-top: 1rem;
}

._budget-planner-page ._finalize-confirmation {
  padding: 2rem;
  width: 50rem;
}