#register-page {
    max-width: 50%;
  }
  
  #register-page ._subtext {
    margin-top: 1em;
  }
  
  #register-page ._form-beginning {
    margin-top: 2em;
  }
  
  #register-page ._btn-register {
    margin-top: 2em;
  }

  @media screen and (max-width: 600px) {
    #register-page {
      max-width: 100%;
    }
  }