@page "/budget-tracker"
@using BudgetSquirrel.Frontend.BudgetTracking.BudgetTrackingPage.Funds
@using BudgetSquirrel.Frontend.Shared.Controls
@using Domain

<div class="_budget-tracking-page page-margins__apply">
  @if (this.isLoading)
  {
    <LoadingCover />
  }
  else
  {
    @* ========================== *@
    @* Page title *@
    @* ========================== *@
    <div class="_root-fund-title__container">
      <div class="_root-fund-title">
        <h1>@this.RootFundName</h1>
      </div>
      <h1 class="foreground-default--subtle _timebox-title-display">@this.timeboxDisplay</h1>
    </div>

    @* ========================== *@
    @* Root fund summary box *@
    @* ========================== *@
    <div class="stat__box stat__box--row _root-fund-stats">
      <div class="stat">
        <div class="stat__label stat__label--prominent">Planned Income</div>
        <div>@this.plannedIncomeDisplay</div>
      </div>

      <div class="stat">
        <div class="stat__label stat__label--prominent">Total Balance</div>
        <div>@this.rootBalanceDisplay</div>
      </div>
    </div>

    <div class="_fund-section__container">
      @* ========================== *@
      @* Fund display section     *@
      @* ========================== *@
      <div class="_fund-section">
        @foreach (BudgetTrackingContext.FundRelationships subFund in this.Level1Budgets)
        {
          <div class="_fund-container">
            <Fund1
              Fund=@subFund
              OnNameChanged=@this.ChangeSubFundName
              OnView=@this.ViewFund />
          </div>
        }
      </div>

      @if (this.isViewingFund)
      {
        <div class="_fund-detail-view__container">
          <FundDetailView
            Fund=this.viewingFund
            OnClose=this.CloseFundView />
        </div>
      }
    </div>
  }
</div>