._app-header {
  background-color: var(--clr-bg-color);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: var(--page-side-margin);
  padding-right: var(--page-side-margin);
}

._app-header ._app-header__left {
  display: flex;
  align-items: center;
}

._app-header ._app-header__right {
  display: flex;
  align-items: stretch;
}

._app-header ._logo {
  background-color: var(--clr-bg-color-alt);

  display: inline-block;
  height: 48px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

._app-header ._app-title {
  margin-left: 0.5em;
  color: var(--clr-fg-color);
}

._app-header ._nav-link {
  color: var(--clr-control-color);
  text-decoration: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  --padding: 1em;
  --underline-height: 4px;
  padding: var(--padding);
  padding-bottom: calc(var(--padding) + var(--underline-height));
  text-align: center;
}

._app-header ._nav-link:hover {
  padding-bottom: var(--padding);
  border-bottom: var(--underline-height) solid var(--clr-control-color);
}

._app-header ._nav-link:visited {
  color: var(--clr-control-color);
  text-decoration: none;
}