@using BudgetSquirrel.Frontend.Shared.Iconogrophy
<header class="_app-header">
    <div class="_app-header__left">
        <div class="_logo-container">
            <Logo Size=48 />
        </div>
        <a class="_nav-link" href="/"> <h1 class="_app-title">Budget Squirrel</h1> </a>
    </div>

    <div class="_app-header__right">
        @if (this.ShouldShowAuthenticatePrompts)
        {
            <a class="_nav-link" href="/login">Log In</a>
            <a class="_nav-link" href="/register">Sign Up</a>
        }
    </div>
</header>

@code {
    public bool ShouldShowAuthenticatePrompts { get; set; } = true;
}