._editable-text {
  height: 1.4em;
}

._editable-text ._input {
  font-size: inherit;
  padding: 0.2em;
  border: 1px solid var(--clr-input-border);
  color: var(--clr-input-stroke);
  caret-color: var(--clr-input-stroke);
  background-color: var(--clr-input-bg);
}