@import url("imports.css");

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.theme-default {
    --tan-700: #7d5f4a;
    --tan-500: #c8ac92ff;
    --tan-200: #fdf6ed;
    --tan-a500: #fbddb6;
    --green-500: #5a8a4eff;
    --red-500: #d26565ff;
    --blackish-500: #394648ff;

    --clr-bg-color: var(--tan-200);
    --clr-bg-color-alt: var(--tan-a500);
    --clr-bg-no-color: white;

    --clr-trim-color: var(--tan-700);

    --clr-fg-color: var(--tan-700);
    --clr-fg-no-color: var(--blackish-500);
    --clr-fg-no-color-alt: white;
    
    --clr-control-color: var(--green-500);
}

.page-margins {
    --page-side-margin: 110px;
}