/*IMPORT:
 *
 * @import url('path/starting/from/wwwroot/css.css');
 */

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.theme-default {
    --tan-700: #7d5f4a;
    --tan-500: #c8ac92ff;
    --tan-200: #fdf6ed;
    --tan-a500: #fbddb6;
    --green-500: #5a8a4eff;
    --red-500: #d26565ff;
    --blackish-500: #394648ff;

    --bg-color: var(--tan-500);
    --bg-color-alt: var(--tan-a500);
    --bg-no-color: white;

    --fg-color: var(--tan-700);
    --fg-no-color: var(--blackish-500);
    --fg-no-color-alt: white;
    
    --control-color: var(--green-500);
}