<div class="budget--1 budget__group _budget1">
  <div class="budget__details">
    <p class="_budget__name">
      @this.Name
    </p>
    <div class="_budget-stat__container">
      <div class="stat _budget-stat _budget-stat--first">
        <p class="stat__label">Amount In</p>
        <p class="@this.AmountInStatValueCssClass">
          @this.AmountInDisplay
        </p>
      </div>

      <div class="stat _budget-stat">
        <p class="stat__label">Balance</p>
        <p class="stat__value">
          @this.BalanceDisplay
        </p>
      </div>
    </div>
  </div>
</div>